@use "sass:map";
@use "../../../../variables" as variables;
@use "../../../../sizes" as sizes;
@use "../../../../colors" as colors;

.main__pagination {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;

  .pagination {
    width: 100%;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      list-style-type: none;
      @include variables.font-size(pagination);

      &.active {
        a {
          @include variables.color(text);
        }
      }

      &:not(:last-child)::after {
        content: "\00A0";
        // content: " ";
      }
    }
  }
}
