@use "sass:map";
@use "../../../../variables" as variables;
@use "../../../../sizes" as sizes;
@use "../../../../colors" as colors;

.taxonomy {
  list-style-type: none;
  @include variables.margin(s, s, 0, 0);

  &__list {
    display: block flex;
    flex-direction: row;
    flex-wrap: wrap;

    list-style-type: none;
    @include variables.set-spacing-of-element("column-gap", m);

    margin: 0;
    padding: 0;

    &-item {
      @include variables.font-size(taxonomy);
      // @include variables.font-weight(bold);
      
      @include variables.border(true, true, true, true, accent);
      @include variables.border-radius;
      @include variables.padding(xs, xs, s, s);
      @include variables.margin(xs, xs, 0, 0);

      &.item-taxonomy {
   
      }

      &.item-term {
        a {
          @include variables.color(text);
  
          &:visited {
            @include variables.color(text);
          }
  
          &:hover,
          &:focus {
            @include variables.color(accent-lighter);
          }
        }
      }
    }
  }
}
