@use "sass:map";
@use "../../../../../variables" as variables;
@use "../../../../../sizes" as sizes;
@use "../../../../../colors" as colors;

.sidebar-author {
  text-align: center;

  h1 {
    @include variables.margin(sidebar, sidebar);
    @include variables.font-size(sidebar-author);
    font-variant: small-caps;
  }

  p {
    @include variables.margin(sidebar, 0);
    @include variables.font-size(sidebar-description);

  }

  ul {
    @include variables.margin(sidebar, 0);
    @include variables.font-size(sidebar-description);

    display: inline flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.25em;

    list-style-type: none;

    margin: 0;
    padding: 0;

  }
}
