@use "sass:map";
@use "../../../../../variables" as variables;
@use "../../../../../sizes" as sizes;
@use "../../../../../colors" as colors;

.sidebar-avatar {
  max-width: clamp(10rem, 10vw, 70%);
  max-height: clamp(10rem, 10vw, 70%);

  img {
    border-radius: 50%;
    box-shadow: 0 0 3rem 1rem var(--color-border-main-light);
  }
}
