@use "sass:map";
@use "../../../../../variables" as variables;
@use "../../../../../sizes" as sizes;
@use "../../../../../colors" as colors;

.sidebar > header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include variables.set-spacing-of-element("row-gap", sidebar);

  align-items: center;
  justify-content: center;
}
