@use "sass:map";
@use "../../../../../variables" as variables;
@use "../../../../../sizes" as sizes;
@use "../../../../../colors" as colors;

nav.navigation {
  max-width: 100%;
  width: max-content;

  a, span.sublist-trigger {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 1em;

    > svg {
      height: 1em;
      display: inline;
      margin-block: auto;
    }

    > span {
      // text-transform: uppercase;
      font-variant: small-caps;
    }
  }

  ul {
    @include variables.font-weight;
    @include variables.font-size(navigation);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    list-style-type: none;

    margin: 0;
    padding: 0;

    li {
      margin-block-start: 0.5em;

      @include variables.border(true, true, true, true);
      border-radius: 2em;
      padding-inline: 0.5em;
    }

    &.sublist {
      max-height: 0; /* Collapsed state */
      overflow: hidden;
      opacity: 0;
      transition:
        max-height 0.4s ease,
        opacity 0.4s ease,
        padding 0.4s ease;

      &[aria-expanded="true"] {
        max-height: 100vh; /* Arbitrary max height to allow for expansion */
        opacity: 1;
      }
    }
  }
}
