@use "sass:map";
@use "../../../../../variables" as variables;
@use "../../../../../sizes" as sizes;
@use "../../../../../colors" as colors;

.sidebar-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 0.25em;

  align-items: center;
  justify-content: center;

  a.svg {
    svg {
      @include variables.set-size-of-element(width, sidebar-links);
      @include variables.set-size-of-element(height, sidebar-links);
    }
  }
}
