{{- $currentPage := .}}

{{ if .IsTranslated }}
<div class="language-select">
    <ul class="language">
        {{ range .AllTranslations }}
        <li class="language-item">
            {{ if eq $currentPage.Language.Lang .Language.Lang }}
                {{/*  <a aria-label="Go to {{ .Name }}" aria-current="page" href="{{ .RelPermalink }}">{{ .Language.label }}</a>  */}}
                <a aria-label="Go to {{ .Name }}" aria-current="page" href="{{ .RelPermalink }}">{{ partial "helper/svg.html" "language-svgrepo-com" }}&nbsp;{{ upper .Language.Lang }}</a>
            {{ else }}
                {{/*  <a aria-label="Go to {{ .Name }}" href="{{ .RelPermalink }}" >{{ .Language.label }}</a>  */}}
                <a aria-label="Go to {{ .Name }}" href="{{ .RelPermalink }}" >{{ partial "helper/svg.html" "language-svgrepo-com" }}&nbsp;{{ upper .Language.Lang }}</a>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}