{{- $currentPage := .}}

<nav class="navigation">
    <ul>
        {{- range site.Menus.main -}}
        {{- if .HasChildren -}}
        <li>
            {{- if $currentPage.IsMenuCurrent .Menu . -}}
            <span aria-label="Open Submenu {{ .Name }}" aria-current="page" class="sublist-trigger">
                {{- partial "helper/title-svg.html" . -}}
                <span>{{- .Name -}}{{- with .Post -}}&nbsp;{{- . -}}{{- end -}}</span>
            </span>
            <ul class="sublist" aria-expanded="true">
            {{- else if $currentPage.HasMenuCurrent .Menu . -}}
            <span aria-label="Open Submenu {{ .Name }}" aria-current="true" class="sublist-trigger">
                {{- partial "helper/title-svg.html" . -}}
                <span>{{- .Name -}}{{- with .Post -}}&nbsp;{{- . -}}{{- end -}}</span>
            </span>
            <ul class="sublist" aria-expanded="true">
            {{- else -}}
            <span aria-label="Open Submenu {{ .Name }}" class="sublist-trigger">
                {{- partial "helper/title-svg.html" . -}}
                <span>{{- .Name -}}{{- with .Post -}}&nbsp;{{- . -}}{{- end -}}</span>
            </span>
            <ul class="sublist">
            {{- end -}}
                <li>
                    {{- if $currentPage.IsMenuCurrent .Menu . -}}
                    <a aria-label="Go to {{ .Name }}" aria-current="page" href="{{- .URL -}}">
                        {{- partial "helper/title-svg.html" . -}}
                        <span>{{- with T "Index"}}{{- . -}}{{- else -}}Index{{- end -}}
                            {{- with .Post -}}&nbsp;{{- . -}}{{- end -}}
                        </span>
                    </a>
                    {{- else -}}
                    <a aria-label="Go to {{ .Name }}" href="{{- .URL -}}">
                        {{- partial "helper/title-svg.html" . -}}
                        <span>{{- with T "Index"}}{{- . -}}{{- else -}}Index{{- end -}}
                            {{- with .Post -}}&nbsp;{{- . -}}{{- end -}}
                        </span>
                    </a>
                    {{- end -}}
                </li>
                {{- range .Children -}}
                <li>
                    {{- if $currentPage.IsMenuCurrent .Menu . -}}
                    <a aria-label="Go to {{ .Name }}" aria-current="page" href="{{- .URL -}}">
                        {{- partial "helper/title-svg.html" . -}}
                        <span>{{- .Name -}}{{- with .Post -}}&nbsp;{{- . -}}{{- end -}}</span>
                    </a>
                    {{- else if $currentPage.HasMenuCurrent .Menu . -}}
                    <a aria-label="Go to {{ .Name }}" aria-current="true" href="{{- .URL -}}">
                        {{- partial "helper/title-svg.html" . -}}
                        <span>{{- .Name -}}{{- with .Post -}}&nbsp;{{- . -}}{{- end -}}</span>
                    </a>
                    {{- else -}}
                    <a aria-label="Go to {{ .Name }}" href="{{- .URL -}}">
                        {{- partial "helper/title-svg.html" . -}}
                        <span>{{- .Name -}}{{- with .Post -}}&nbsp;{{- . -}}{{- end -}}</span>
                    </a>
                    {{- end -}}
                </li>
                {{- end -}}
            </ul>
        </li>
        {{- else -}}
        <li>
            {{- if $currentPage.IsMenuCurrent .Menu . -}}
            <a aria-label="Go to {{ .Name }}" aria-current="page" href="{{- .URL -}}">
                {{- partial "helper/title-svg.html" . -}}
                <span>{{- .Name -}}{{- with .Post -}}&nbsp;{{- . -}}{{- end -}}</span>
            </a>
            {{- else if $currentPage.HasMenuCurrent .Menu . -}}
            <a aria-label="Go to {{ .Name }}" aria-current="true" href="{{- .URL -}}">
                {{- partial "helper/title-svg.html" . -}}
                <span>{{- .Name -}}{{- with .Post -}}&nbsp;{{- . -}}{{- end -}}</span>
            </a>
            {{- else -}}
            <a aria-label="Go to {{ .Name }}" href="{{- .URL -}}">
                {{- partial "helper/title-svg.html" . -}}
                <span>{{- .Name -}}{{- with .Post -}}&nbsp;{{- . -}}{{- end -}}</span>
            </a>
            {{- end -}}
        </li>
        {{- end -}}
        {{- end -}}
    </ul>
</nav>