{{- $currentPage := . -}}

<nav class="navigation">
    <ul>
        {{- range site.Menus.main -}}
        {{- if .HasChildren -}}
        <li>
            {{- if $currentPage.IsMenuCurrent .Menu . -}}
            <span aria-label="Open Submenu {{- .Name -}}" aria-current="page" class="sublist-trigger">
                {{- partial "container-sidebar/header/navigation/item.html" . -}}
            </span>
            <ul class="sublist" aria-expanded="true">
            {{- else if $currentPage.HasMenuCurrent .Menu . -}}
            <span aria-label="Open Submenu {{- .Name -}}" aria-current="true" class="sublist-trigger">
                {{- partial "container-sidebar/header/navigation/item.html" . -}}
            </span>
            <ul class="sublist" aria-expanded="true">
            {{- else -}}
            <span aria-label="Open Submenu {{- .Name -}}" class="sublist-trigger">
                {{- partial "container-sidebar/header/navigation/item.html" . -}}
            </span>
            <ul class="sublist">
            {{- end -}}
                <li>
                    {{- if $currentPage.IsMenuCurrent .Menu . -}}
                    <a aria-label="Go to {{- .Name -}}" aria-current="page" href="{{- .URL -}}">
                        {{- partial "container-sidebar/header/navigation/index-item.html" . -}}
                    </a>
                    {{- else -}}
                    <a aria-label="Go to {{- .Name -}}" href="{{- .URL -}}">
                        {{- partial "container-sidebar/header/navigation/index-item.html" . -}}
                    </a>
                    {{- end -}}
                </li>
                {{- range .Children -}}
                <li>
                    {{- if $currentPage.IsMenuCurrent .Menu . -}}
                    <a aria-label="Go to {{- .Name -}}" aria-current="page" href="{{- .URL -}}">
                        {{- partial "container-sidebar/header/navigation/item.html" . -}}
                    </a>
                    {{- else if $currentPage.HasMenuCurrent .Menu . -}}
                    <a aria-label="Go to {{- .Name -}}" aria-current="true" href="{{- .URL -}}">
                        {{- partial "container-sidebar/header/navigation/item.html" . -}}
                    </a>
                    {{- else -}}
                    <a aria-label="Go to {{- .Name -}}" href="{{- .URL -}}">
                        {{- partial "container-sidebar/header/navigation/item.html" . -}}
                    </a>
                    {{- end -}}
                </li>
                {{- end -}}
            </ul>
        </li>
        {{- else -}}
        <li>
            {{- if $currentPage.IsMenuCurrent .Menu . -}}
            <a aria-label="Go to {{- .Name -}}" aria-current="page" href="{{- .URL -}}">
                {{- partial "container-sidebar/header/navigation/item.html" . -}}
            </a>
            {{- else if $currentPage.HasMenuCurrent .Menu . -}}
            <a aria-label="Go to {{- .Name -}}" aria-current="true" href="{{- .URL -}}">
                {{- partial "container-sidebar/header/navigation/item.html" . -}}
            </a>
            {{- else -}}
            <a aria-label="Go to {{- .Name -}}" href="{{- .URL -}}">
                {{- partial "container-sidebar/header/navigation/item.html" . -}}
            </a>
            {{- end -}}
        </li>
        {{- end -}}
        {{- end -}}
    </ul>
</nav>

{{- define "_partials/container-sidebar/header/navigation/item.html" -}}
    <span class="menu-item">
        {{- partial "helper/title-svg.html" . -}}
        {{- with .Pre -}}
            <span>{{- . -}}</span>
        {{- end -}}
        {{- with .Name -}}
            <span>{{- . -}}</span>
        {{- end -}}
        {{- with .Post -}}
            <span>{{- . -}}</span>
        {{- end -}}
    </span>
{{- end -}}

{{- define "_partials/container-sidebar/header/navigation/index-item.html" -}}
    <span class="menu-item">
        {{- partial "helper/svg.html" "list-svgrepo-com" -}}
        {{- with T "Index" -}}
            <span>{{- . -}}</span>
        {{- else -}}
            <span>Index</span>
        {{- end -}}
    </span>
{{- end -}}