<div class="container-sidebar-toggle">
    <button aria-expanded="false" class="sidebar-toggle" aria-controls="sidebar"
        aria-label="Toggle Main Navigation Menu">
        <svg viewBox="0 0 80 80" class="sidebar-toggle-svg" focusable="false" aria-hidden="true" width="80" height="80" xmlns="http://www.w3.org/2000/svg">
            <rect width="80" height="12" y="9" rx="5"/>
            <rect width="80" height="12" y="34" rx="5"/>
            <rect width="80" height="12" y="59" rx="5"/>
        </svg>
    </button>
</div>