{{- $text := .LinkTitle | markdownify -}}
{{- $title := $text -}}
{{- if .IsTranslated -}}
    {{- if or (eq .Kind "taxonomy") (eq .Kind "term") -}}
        {{- if (T (replace (replace (printf "%s" $text) " " "") "-" "")) -}}
            {{- $title := T (replace (replace (printf "%s" $text) " " "") "-" "") -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- $svg := "" -}}
{{- with .Params.svg -}}
    {{- $svg = . -}}
{{- else -}}
    {{- $svg = "link-svgrepo-com" -}}
{{- end -}}

{{- partial "helper/text-with-icon.html" (dict "svg" $svg "text" $title) -}}