/* woff2: Chrome 26+, Opera 23+, Firefox 39+ */
/* woff: Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
@font-face {
  font-family: Urbanist;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Urbanist/Urbanist-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: Urbanist;
  font-style: italic;
  font-display: swap;
  src: url(../fonts/Urbanist/Urbanist-Italic-VariableFont_wght.ttf) format("truetype");
}
