/* Extra small devices (portrait phones) */
/* Small devices (landscape phones) */
/* Medium devices (tablets) */
/* Large devices (desktops) */
/* Extra large devices (large desktops) */
/* Extra extra large devices (very large desktops) */

$screen-sizes: (
  breakpoint-xs: 320px,
  breakpoint-sm: 576px,
  breakpoint-md: 768px,
  breakpoint-lg: 992px,
  breakpoint-xl: 1200px,
  breakpoint-xxl: 1400px
);

$font-size: (
  h1: clamp(1.25rem, 2vw, 2rem),
  h2: clamp(1.15rem, 2vw, 1.5rem),
  h3: clamp(1rem, 2vw, 1.25rem),
  h4: clamp(0.9rem, 2vw, 1.15rem),
  h5: clamp(0.8rem, 2vw, 1rem),
  h6: clamp(0.7rem, 2vw, 0.9rem),
  p: clamp(1rem, 2vw, 1.15rem),

  breadcrumb: clamp(1rem, 2vw, 1.25rem),
  taxonomy: clamp(1rem, 2vw, 1.15rem),
  pagination: clamp(1.5rem, 2vw, 1.75rem),
  article: clamp(1.25rem, 2vw, 1.75rem),

  topbar: clamp(1.5rem, 2vw, 2.5rem),
  topbar-sidebar-toggle: clamp(1.5rem, 2vw, 2.5rem),

  sidebar-author: clamp(1.5rem, 2vw, 2rem),
  sidebar-description: clamp(1rem, 2vw, 1.25rem),
  navigation: clamp(1.15rem, 2vw, 1.5rem),
  sidebar-links: clamp(1.15rem, 2vw, 1.5rem),
  sidebar-theme-toggle: clamp(1.15rem, 2vw, 1.5rem),
  footer: clamp(0.9rem, 2vw, 1rem)
);

$spacing: (
  xxl: clamp(1.25rem, 2vh, 1.75rem),
  xl: clamp(1rem, 2vh, 1.25rem),
  l: clamp(0.75rem, 2vh, 1rem),
  m: clamp(0.5rem, 2vh, 0.75rem),
  s: clamp(0.25rem, 2vh, 0.5rem),
  xs: clamp(0.15rem, 2vh, 0.25rem),
  xxs: clamp(0.1rem, 2vh, 0.15rem),
  0: 0,
  sidebar: clamp(0.5rem, 2vh, 1rem),
  topbar: clamp(3rem, 2vh, 4rem)
);

// Border radius.
$border-radius: 0.5rem;

:root {
  @each $name, $value in $font-size {
    --font-size-#{$name}: #{$value};
  }

  @each $name, $value in $spacing {
    --spacing-#{$name}: #{$value};
  }
}
