@use "sass:map";
@use "../../../variables" as variables;
@use "../../../sizes" as sizes;
@use "../../../colors" as colors;

.sidebar-toggle {
  position: fixed;
  @include variables.set-spacing-of-element("top", m);
  right: 5%;
  z-index: 22;

  margin: 0;
  padding: 0;

  pointer-events: auto;
  border: none;
  background-color: transparent;

  &:hover,
  &:enabled,
  &:enabled:hover,
  &:focus,
  &:focus-visible {
    background-color: transparent;
  }

  &-svg {
    @include variables.set-color-of-element("fill", text);
    @include variables.set-size-of-element("width", topbar);
    @include variables.set-size-of-element("height", topbar);

    rect {
      transform-origin: center;

      @media (prefers-reduced-motion: no-preference) {
        transition: all 130ms ease-in;

        .open & {
          transition: all 330ms ease-out;
        }
      }
    }

    .open & {
      // stylelint-disable max-nesting-depth
      rect {
        y: 45px;
        fill: var(--color-text-alt);

        &:nth-of-type(1) {
          transform: rotate(45deg);
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:nth-of-type(3) {
          transform: rotate(-45deg);
        }
      }
    } // stylelint-enable max-nesting-depth
  }
}
