{{ $parentPage := .Parent}}
{{ if and (not (.Eq site.Home)) (not ($parentPage.Eq site.Home)) }}
    <li class="main__articles-bundle-list-item">
        <a href="{{ .RelPermalink }}">{{ partial "helper/translated-linktitle.html" . }} | {{ partial "helper/translated-title" $parentPage }}</a>
        <p>{{ .Summary }}</p>
    </li>
{{ else }}
    <li class="main__articles-bundle-list-item">
        <a href="{{ .RelPermalink }}">{{ partial "helper/translated-linktitle.html" . }}</a>
        <p>{{ .Summary }}</p>
    </li>
{{ end }}
