{{ define "main" }}

<div class="main__articles">
  {{ range .Pages.GroupBy "Type" }}
    <div class="main__articles-bundle">
      {{/*  <hr>  */}}
      {{ $parentPage := site.GetPage (printf "/%s" .Key)}}
      {{/*  <h2 class="main__articles-bundle-title"><a href="{{ $parentPage.RelPermalink }}">{{ partial "helper/translated-title.html" $parentPage  }}</a></h2>
      {{ with $parentPage.Summary }}
      <p>{{ . }}</p>
      {{ end }}  */}}
      <ul class="main__articles-bundle-list">
        {{ range .ByTitle }}
          {{ .Render "li"}}
        {{ end }}
      </ul>
      {{/*  <hr>  */}}
    </div>
    {{ end }}
</div>

{{ end }}