<button aria-expanded="false" class="sidebar-toggle" aria-controls="sidebar"
    aria-label="Toggle Main Navigation Menu">
    <svg viewBox="0 0 100 100" class="sidebar-toggle-svg" focusable="false" aria-hidden="true">
        <rect width="80" height="12" x="10" y="20" rx="5"></rect>
        <rect width="80" height="12" x="10" y="45" rx="5"></rect>
        <rect width="80" height="12" x="10" y="70" rx="5"></rect>
    </svg>
    {{/*  <svg viewBox="0 0 80 62" class="sidebar-toggle-svg" focusable="false" aria-hidden="true">
        <rect width="80" height="12" x="0" y="0" rx="5"></rect>
        <rect width="80" height="12" x="0" y="25" rx="5"></rect>
        <rect width="80" height="12" x="0" y="50" rx="5"></rect>
    </svg>  */}}
    {{/*  <svg viewBox="0 0 80 50" class="sidebar-toggle-svg" focusable="false" aria-hidden="true">
        <rect width="80" height="10" x="0" y="0" rx="5"></rect>
        <rect width="80" height="10" x="0" y="20" rx="5"></rect>
        <rect width="80" height="10" x="0" y="40" rx="5"></rect>
    </svg>  */}}
</button>