@use "sass:map";
@use "../../../../variables" as variables;
@use "../../../../sizes" as sizes;
@use "../../../../colors" as colors;

.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  @include variables.set-spacing-of-element("row-gap", sidebar);

  align-items: center;
  justify-content: center;
  text-align: center;

  margin: auto;

  a,
  span.sublist-trigger {
    @include variables.color(text-alt);

    &:visited {
      @include variables.color(text-alt);
    }

    &:hover,
    &.current,
    &[aria-current="page"],
    &[aria-current="true"] {
      cursor: pointer;
      @include variables.color(accent);
    }
  }
}
