{{- $timeFormat := ":date_full"  -}}
{{- $timeFormatMultiple := ":date_medium"  -}}
{{- $pageParams := .Params -}}

{{- if $pageParams.DisplayCreationDate -}}
    {{- with .Date -}}
    <div class="dates">
        <p class="dates__single">
            {{- . | time.Format $timeFormat -}}
        </p>
    </div>
    {{- end -}}
{{- end -}}

{{- if or $pageParams.dateCreated $pageParams.dateUpdated $pageParams.dateCreated -}}
<div class="dates">
    <ul class="dates__list">
        {{/*  {{- with $page.Params.dateFinished -}}
        <li class="dates__list-item">
            {{- partial "helper/text-with-icon.html" (dict "svg" "check-circle-svgrepo-com" "text" ( . | time.Format $timeFormatMultiple)) -}}
        </li>
        {{- end -}}  */}}
        {{- with $pageParams.dateUpdated -}}
        <li class="dates__list-item">
            {{- partial "helper/text-with-icon.html" (dict "svg" "refresh-ccw-svgrepo-com" "text" ( . | time.Format $timeFormatMultiple)) -}}
        </li>
        {{- end -}}
        {{- with $pageParams.dateCreated -}}
        <li class="dates__list-item">
            {{- partial "helper/text-with-icon.html" (dict "svg" "upload-cloud-svgrepo-com" "text" ( . | time.Format $timeFormatMultiple)) -}}
        </li>
        {{- end -}}
    </ul>
</div>
{{- end -}}